<ion-header color="primary">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div *ngIf=nofavroite [ngStyle]="{'background-image': setColor(1)}"    class="contentitem" >
<ion-text color="primary">
  <h1>You have not added any shayari yet</h1>
</ion-text>
  </div>

  <ion-card  *ngFor="let item of displayData index as i ">

    <div *ngIf=item  [ngStyle]="{'background-image': setColor(i)}"   #box class="contentitem" >
      {{item}}
    </div>


    <div *ngIf=item  class="bottom">
      <div (click)="paginationService.copy(item)"  class="bottom1">
        <ion-icon name="copy-outline" size="large"></ion-icon>
      </div>

      <div (click)="saves(i)" class="bottom1">
        <ion-icon name="arrow-down-circle" size="large"></ion-icon>
      </div>

      <div class="bottom1" (click)="commonshare(i)">
        <ion-icon name="share-social" size="large"></ion-icon>
      </div>

      <div class="bottom1" (click)=" unfavroite(i)">
        <ion-icon name="heart" size="large"></ion-icon>
      </div>

      <div class="bottom1" (click)="whatsAppcommonshare(i)">
        <ion-icon name="logo-whatsapp" size="large"></ion-icon>
      </div>
      <div  (click)="paginationService.edit(item)" class="bottom1">
        <ion-icon name="create-outline" size="large"></ion-icon>
      </div>
    </div>

  </ion-card>








</ion-content>
