<ion-toolbar>
  <ion-title>operation</ion-title>
</ion-toolbar>
<ion-content>

  <div class="ion-padding"   >
    <ion-button (click)="AddDocument()" expand="block" fill="solid" shape="round">
      AddDocument
    </ion-button>
  </div>
  <div  class="ion-padding">
    <ion-button (click)="AddField()" expand="block" fill="solid" shape="round">
      AddField
    </ion-button>
  </div>
  <div  class="ion-padding" >
    <ion-button (click)="AddCollection()" expand="block" fill="solid" shape="round">
      AddCollection
    </ion-button>
  </div>

</ion-content>
