<ion-toolbar>
  <ion-menu-button slot="start"  menu="menu-content"></ion-menu-button>
  <ion-title>tab1</ion-title>
</ion-toolbar>
<ion-toolbar>
  <ion-searchbar (ionChange)="searchcard($event)"   showCancelButton="focus" debounce="500" placeholder="search Shayari"  animated ></ion-searchbar>
</ion-toolbar>
<ion-content>


<ion-button (click)="hello() " expand="block" fill="clear" shape="round">
  Click me
</ion-button>


<div *ngFor="let item of item2" >
{{item}}
</div>




  <ion-row>
    <ion-col size="6" *ngFor="let item of data" >
      <ion-card class="ion-padding" color="primary"  (click)="presentModal()">
        <ion-card-content>
        {{item}}
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>


</ion-content>
