<ion-toolbar>
  <ion-menu-button slot="start"  menu="menu-content"></ion-menu-button>
  <ion-title>Daily Shayari</ion-title>
  <ion-icon (click)=" paginationService.whatsAppShare()"  class="ion-padding" slot="end" size="large" name="logo-whatsapp">
  </ion-icon>
  <ion-icon (click)="paginationService.faceboookShare()"  class="ion-padding" slot="end" size="large" name="logo-facebook">
  </ion-icon>


</ion-toolbar>

<ion-content>




  <ion-card  *ngFor="let item of paginationService.item2 index as i " mode="ios" >

    <div [ngStyle]="{'background-image': setColor(i)}"  #box class="contentitem" >
      {{item}}
    </div>


    <div class="bottom"  >

      <div class="bottom1"   (click)="copy(item)"            >

        <ion-icon  name="copy-outline" size="large"></ion-icon>

      </div>

      <div class="bottom1"  (click)="saves(i)">
      <ion-icon name="arrow-down-circle" size="large" ></ion-icon>
      </div>


      <div class="bottom1" (click)="commonshare(i)" >
      <ion-icon name="share-social" size="large"></ion-icon>
      </div>



      <div class="bottom1" (click)="favroiteitem(i)"   >
      <ion-icon name="heart-outline" size="large" ></ion-icon>
      </div>



      <div class="bottom1" (click)="whatsAppcommonshare(i)" >
      <ion-icon name="logo-whatsapp" size="large"></ion-icon>
      </div>

      <div  (click)="paginationService.edit(item)" class="bottom1">
        <ion-icon name="create-outline" size="large"></ion-icon>
      </div>

      </div>
  </ion-card>


  <div *ngIf="paginationService.loading"     >
    <div *ngFor="let item of [].constructor(3) index as i" >

    <ion-card [ngStyle]="{'background-image': setColor(i)}"  mode="ios">
      <ion-card-content>
        <ion-skeleton-text  animated style="width:90% ; height: 18px; "   > </ion-skeleton-text>
      <ion-skeleton-text animated  style="width:70% ; height: 18px "></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 60%;  height: 18px" ></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 80% ; height: 18px "></ion-skeleton-text>
      <ion-skeleton-text animated style="width:75%;  height: 18px "></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
    </div>
   </div>






  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="none">   <div class="lottie">
        <ng-lottie [options]="lottieConfigloader"  width="80px"
        height="80px" ></ng-lottie>
      </div>


    </ion-infinite-scroll-content>
  </ion-infinite-scroll>



</ion-content>
