<ion-header color="primary" >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo neque itaque voluptas consequuntur quaerat eligendi reprehenderit magnam necessitatibus, natus aliquid ratione consectetur, aliquam placeat? Laudantium nostrum ducimus magnam repellat inventore illum iusto, sint nisi sed, fuga aliquam ratione provident voluptates repudiandae odit! Veritatis tenetur, magnam itaque iusto neque iste debitis corporis ducimus. Praesentium quaerat et cumque hic nam voluptatum rerum sequi quibusdam corrupti pariatur recusandae doloribus repudiandae facilis harum illo numquam placeat, possimus impedit vel! Cum dolor commodi necessitatibus nemo magnam et nulla? Dolores veniam voluptatibus facilis minus! Possimus asperiores blanditiis officiis esse pariatur doloremque aliquid unde nobis iste hic.
</ion-content>
