

.bottom {
  display: flex;
  justify-content: space-between;

  margin: 0px 10px;
  padding: 10px;

}

.bottom1 {

  width: 100%;
  display: flex;
  justify-content: center;
}



.container
{

  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.16);
  margin: 10px;
  border-radius: 10px;

}


.contentitem
{

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  text-align: center;

}


.edit
{
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 50%;
 margin: 5px 0px;

}


