

.bottom {
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
  margin: 0px 10px;
}

.bottom1 {
  border: 1px solid red;
  width: 100%;
  display: flex;
  justify-content: center;
}

ion-card
{
  margin-bottom: 0%;

  text-align: center;
}

ion-card-content
{
  font-size:20px;
}
