<ion-header color="primary" >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>
<ion-content>




  <ion-card     *ngFor="let item of paginationService.item2 " mode="ios" >

    <ion-card-content>
      <div class="edit">
          <div (click)="edit()">
            edit
          </div>
      </div>

      {{item}}

    </ion-card-content>
    <div class="bottom"  >

      <div class="bottom1"               >

        <ion-icon  name="copy-outline" size="large"></ion-icon>

      </div>

      <div class="bottom1" >
      <ion-icon name="arrow-down-circle" size="large" ></ion-icon>
      </div>


      <div class="bottom1">
      <ion-icon name="share-social" size="large"></ion-icon>
      </div>

      <div class="bottom1">
      <ion-icon name="heart" size="large" ></ion-icon>
      </div>

      <div class="bottom1">
      <ion-icon name="logo-whatsapp" size="large"></ion-icon>
      </div>

      </div>
  </ion-card>


  <div *ngIf="paginationService.loading"     >
    <div *ngFor="let item of [].constructor(2)" >

    <ion-card  mode="ios">
      <ion-card-content>
        <ion-skeleton-text  animated style="width:90% ; height: 18px; "   > </ion-skeleton-text>
      <ion-skeleton-text animated  style="width:70% ; height: 18px "></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 60%;  height: 18px" ></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 80% ; height: 18px "></ion-skeleton-text>
      <ion-skeleton-text animated style="width:75%;  height: 18px "></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
    </div>  </div>






  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
