<ion-header color="primary" >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>
<ion-content>




  <ion-card   *ngFor="let item of paginationService.item2 index as i " >




      <div #box  [ngStyle]="{'background-image': setColor(i)}" class="contentitem" >
        {{item}}
      </div>

    <div class="bottom"  >

      <div class="bottom1"   (click)="copy(item)"            >

        <ion-icon  name="copy-outline" size="large"></ion-icon>

      </div>

      <div class="bottom1"  (click)="saves(i)">
      <ion-icon name="arrow-down-circle" size="large" ></ion-icon>
      </div>


      <div class="bottom1"  (click)="commonshare(i)" >
      <ion-icon name="share-social" size="large"></ion-icon>
      </div>



      <div class="bottom1" (click)="whatsAppcommonshare(i)">
      <ion-icon name="logo-whatsapp" size="large"></ion-icon>
      </div>
      <div  (click)="paginationService.edit(item)" class="bottom1">
        <ion-icon name="create-outline" size="large"></ion-icon>
      </div>

      </div>
  </ion-card>





  <div *ngIf="paginationService.loading"     >

    <div *ngFor="let item of [].constructor(3) index as i" >


    <ion-card    [ngStyle]="{'background-image': setColor(i)}"  mode="ios">


      <ion-card-content>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-skeleton-text  animated style="width:100% ; height: 100%; "   > </ion-skeleton-text>
      <ion-skeleton-text animated  style="width:70% ; height: 18px "></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 60%;  height: 18px" ></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 80% ; height: 18px "></ion-skeleton-text>
      <ion-skeleton-text animated style="width:75%;  height: 18px "></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 30% ; height: 18px "></ion-skeleton-text>
      <ion-skeleton-text animated style="width:75%;  height: 18px "></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
    </div>

  </div>






  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="none">
    </ion-infinite-scroll-content>
    <div class="lottie">
      <ng-lottie [options]="lottieConfigloader"  width="80px"
      height="80px" ></ng-lottie>
    </div>
  </ion-infinite-scroll>

</ion-content>
