<ion-header color="primary">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="editor">
   <div>
    <ion-textarea  value="Hindi Shayari" clearOnEdit="true" cols="6" rows="10" >
    </ion-textarea>
   </div>
   <div class="logo">
    <div> TRV Shayari</div>
    <div> <img src="../../../assets/images/love.png"    width="40px" height="40px"    alt=""> </div>
   </div>
  </div>




<div class="control-box" color="primary">
    <ion-grid fixed>
      <ion-row>
        <ion-col>
          <ion-icon  size="large" name="create-outline"></ion-icon>
          Lorem,
        </ion-col>
        <ion-col>
          <ion-icon size="large" name="create-outline"></ion-icon>
          Lorem,
        </ion-col>
        <ion-col>
          <ion-icon size="large" name="create-outline"></ion-icon>
          Lorem
        </ion-col>
        <ion-col>
          <ion-icon size="large" name="create-outline"></ion-icon>
          Lorem.
        </ion-col>
        <ion-col>
          <ion-icon size="large" name="create-outline"></ion-icon>
          Lorem,
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-icon  size="large" name="create-outline"></ion-icon>
          Lorem,
        </ion-col>
        <ion-col>
          <ion-icon size="large" name="create-outline"></ion-icon>
          Lorem,
        </ion-col>
        <ion-col>
          <ion-icon size="large" name="create-outline"></ion-icon>
          Lorem
        </ion-col>
        <ion-col>
          <ion-icon size="large" name="create-outline"></ion-icon>
          Lorem.
        </ion-col>
        <ion-col>
          <ion-icon size="large" name="create-outline"></ion-icon>
          Lorem,
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


</ion-content>
