
.container
{
  display: flex;
  flex-direction: column;
  justify-content:  space-around;
  height: 100%;
}
.container>div
{

margin: 0px 10px;
}

.editor
{

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url('../../../assets/images/love.png');
  background-size:cover;
  background-position:center;
  background-repeat: no-repeat;


}


.logo
{
  display: flex;
  align-items: center;
}

.text
  {

  width: 100%;
  background-color:transparent;
  text-align: center;
  overflow: hidden;
  resize: none;
  font-size: 20px;
  }


.control
{
  text-align: center;
}

