.editor ion-textarea
{
  margin: 0px;
  width: 100%;
  min-height:200px;
  background-color: rgb(175, 175, 175);
  text-align: center;
  overflow: hidden;
  resize: none;
  border: none;
  background-image: url('../../../assets/images/love.png');
  background-size:cover;
  background-position:center;
  background-repeat: no-repeat;
  border: 1px solid red;
  border-radius: 5px;

}
.editor
{
  padding: 10px;
}
ion-textarea
{
  padding: 0px 50px;
  padding-top: 100px;
font-size: 25px;
}

.logo
{

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
 top: 0%;
 right:0%;
 z-index: 5;
}

.control-box
{
  position: absolute;
bottom: 10%;
}
