<ion-header color="primary">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>



      <div class="container">


        <div class="editor" #box  >
         <div class="text" #box1  >
          <ion-textarea value="Hindi Shayari " clearOnEdit="true" cols="6" rows="10" >
          </ion-textarea>
         </div>
         <div class="logo" >
          <div> <img src="../../../assets/images/love.png"    width="40px" height="40px"    alt=""> </div>
          <div> TRV Shayari</div>
         </div>
        </div>




      <div class="control" color="primary">
          <ion-grid fixed>
            <ion-row>
              <ion-col (click)="Image()">
             <img src="../../../assets/icon/image-gallery.png" alt="">
              Image
              </ion-col >
              <ion-col  [(colorPicker)] ="color1" (colorPickerChange)="Gradient($event)">
                <img src="../../../assets/icon/gradient.png" alt="">
               Gradient
              </ion-col>
              <ion-col [(colorPicker)] ="color1"  (colorPickerChange)="BackGroundColor($event)" >
                <img src="../../../assets/icon/bucket.png" alt="">
                Color
              </ion-col>
              <ion-col (click)=" Opacity()">
                <img src="../../../assets/icon/transparency.png" alt="">
               Opacity
              </ion-col>
              <ion-col (click)=" Share()">
                <img src="../../../assets/icon/share.png" alt="">
                Share
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col (click)="TextSize()">
                <img src="../../../assets/icon/text.png" alt="">
                Text Size
              </ion-col>
              <ion-col [(colorPicker)] ="color2"    (colorPickerChange) ="TextColor($event)" >
                <img src="../../../assets/icon/paint-palette.png" alt="">
                Text-color
              </ion-col>
              <ion-col (click)="Font()">
                <img src="../../../assets/icon/font.png" alt="">
                  Font
              </ion-col>
              <ion-col (click)="TextStyle()">
                <img src="../../../assets/icon/n.png" alt="">
               Text Style
              </ion-col>
              <ion-col (click)="Save()">
                <img src="../../../assets/icon/direct-download.png" alt="">
               Save
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

      </div>



</ion-content>
