<ion-header color="light" >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content >



<ion-slides  [options]='zoomoption'  class="swiper-wrapper"  >
  <ion-slide>
    <div class="flex-content"   class="swiper-zoom-container"    >
      <img  id="photo-fullscreen" [src]=url alt="">
     </div>

  </ion-slide>
</ion-slides>




</ion-content  >



<ion-footer  >
  <div class="flex-container">
    <div (click)="repost()"  >
      <ion-icon name="logo-whatsapp"></ion-icon>
      <br>
      <label>Repost</label>
    </div>

    <div (click)="deletesaved()" >
      <ion-icon name="trash-outline"></ion-icon>
      <br>
      <label>Delete</label>
    </div>
    <div (click)="shareviaoption()" >
      <ion-icon name="share-social"></ion-icon>

      <br>
      <label>Share</label>
    </div>
  </div>
</ion-footer>
